@import "bace/variables";
@import "bace/mixins";

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.conteiner {
    max-width: 950px;
    margin: 0 auto;
}

@import "block/promo";
@import "block/header";
@import "block/buttons";
